node_modules
.idea/
.env.local
functions/.env.local
firestore-debug.log
tmp/
cypress/downloads/
cypress/screenshots/
cypress/videos/
public/icons
public/collection.json
/build/
/.firebase/
/public/d4dad.json
