.HeaderLogo {
    width: auto;
    height: 3rem;
}

.HeaderTitle {
    min-width: 0;
    text-align: center;
}

.HeaderTitleName {
    font-family: "PT Serif", serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    color: #f1ede4;
}

.HeaderTitleNameAccent {
    color: var(--secondary-color);
    text-shadow: 1px 2px 5px #111;
}

.HeaderTitleTagLine {
    font-size: 0.875rem;
    color: #ccc;
}

@media screen and (min-width: 1200px) {
    .HeaderTitleTagLine {
        display: block;
    }

    .HeaderLogo {
        height: 4.5rem;
    }

    .HeaderTitle {
        text-align: left;
    }

    .HeaderTitleName {
        font-size: 2rem;
    }
}
