.HeaderBrandLogo {
    width: auto;
    height: 3rem;
}

.HeaderBrandTitle {
    min-width: 0;

    text-align: center;
}

.HeaderBrandTitleName {
    color: #f1ede4;

    font-family: "PT Serif", serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
}

.HeaderBrandTitleNameAccent {
    color: var(--secondary-color);
    text-shadow: 1px 2px 5px #111;
}

.HeaderBrandTitleTagLine {
    color: #ccc;

    font-size: 0.875rem;
}

@media screen and (min-width: 1200px) {
    .HeaderBrandLogo {
        height: 4.5rem;
    }

    .HeaderBrandTitle {
        text-align: left;
    }

    .HeaderBrandTitleName {
        font-size: 2rem;
    }

    .HeaderBrandTitleTagLine {
        display: block;
    }
}
