.HeaderActionsToggleTooltip {
    padding: var(--space-1) var(--space-2);
    border-radius: var(--radius-sm);

    background-color: var(--tooltip-background);
    box-shadow: var(--shadow-tooltip);
    color: var(--tooltip-text);

    font-size: var(--font-size-sm);
    line-height: 1.2;
}

.HeaderActionsToggleTooltip svg {
    fill: var(--tooltip-background);
}
