.Btn {
    position: relative;
    border: 1px solid #39404d;
    padding: 0.5rem;
    border-radius: 0.5rem;
    max-width: 5rem;
    background-color: #303640;
    color: #8f98a3;
    cursor: pointer;
    top: -1px;
    box-shadow: 1px 2px 5px #111;
}

.BtnMobile {
    display: inline-block;
}

.BtnDesktop {
    display: none;
}

@media screen and (min-width: 1200px) {
    .BtnMobile {
        display: none;
    }

    .BtnDesktop {
        display: inline-block;
    }
}

.Btn svg {
    width: 2rem;
    height: 2rem;
    color: currentColor;
}

.Btn:active,
.BtnPressed {
    top: 0;
    box-shadow: none;
}

.BtnDark {
    border: 1px solid #2D3239;
    background-color: #23272e;
    color: #a7afb8;
}

.BtnDark:hover,
.BtnDark:active,
.BtnDark.BtnPressed {
    color: #d7dbe0;
}

.BtnGrey {
    color: #6F7D8C;
}

.BtnGrey:hover,
.BtnGrey:active,
.BtnGrey.BtnPressed {
    color: #8394a6;
}

.BtnDiscord {
    color: #7289da;
}

.BtnDiscord:hover,
.BtnDiscord:active,
.BtnDiscord.BtnPressed {
    color: #7e97f2;
}

.BtnBattleNet {
    color: #009AE4;
}

.BtnBattleNet:hover,
.BtnBattleNet:active,
.BtnBattleNet.BtnPressed {
    color: #00adfc;
}

.BtnGreen {
    color: #3e885b;
}

.BtnGreen:hover,
.BtnGreen:active,
.BtnGreen.BtnPressed {
    color: #4aa16d;
}
