.Progress {
    display: flex;
}

.ProgressBar {
    box-sizing: content-box;
    height: 1.25rem;
    position: relative;
    background: var(--app-surface-raised);
    border-radius: 25px;
    padding: 0.5rem;
    flex: 1;
    align-items: center;
    border: 1px solid var(--app-surface-muted);
    text-align: center;
    width: 100%;
    margin-right: 1rem;
}

.ProgressBarFill {
    display: block;
    height: 100%;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: var(--feedback-success-fill);
    position: relative;
    overflow: hidden;
    transition: width 500ms;
}

.ProgressTicker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 6rem;
}

.ProgressLabel {
    font-size: 0.875rem;
    color: var(--app-text-muted);
}

.ProgressTickerText {
    font-size: 0.875rem;
    color: var(--link-color-action);
}
