.Layout {
    --layout-padding: 2rem;
    --layout-gap: 1rem;
}

.LayoutContent {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.LayoutHero {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    padding: 1rem 0;
}

.LayoutLeftSidebar,
.LayoutRightSidebar {
    display: none;
}

.LayoutMain {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    min-width: 0;
}

@media screen and (min-width: 1200px) {
    .Layout {
        display: block;
        flex: auto;
    }

    .LayoutHero {
        position: sticky;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 1rem;
        padding: 2rem 2rem 1rem;
    }

    .LayoutContent {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: var(--layout-gap);
        padding: 0 var(--layout-padding) var(--layout-padding);
    }

    .LayoutLeftSidebar,
    .LayoutRightSidebar {
        position: sticky;
        top: 2rem;
        align-self: start;
        display: flex;
        flex-direction: column;
    }

    .LayoutLeftSidebar {
        grid-column: span 4;
    }

    .LayoutRightSidebar {
        grid-column: span 4;
    }

    .LayoutMainWithBothSidebars {
        grid-column: span 4;
    }

    .LayoutMainWithLeftSidebar,
    .LayoutMainWithRightSidebar {
        grid-column: span 8;
    }

    .LayoutMainFullWidth {
        grid-column: 1 / -1;
    }
}

@media screen and (min-width: 1600px) {
    .LayoutMainWithBothSidebars {
        grid-column: span 6;
    }

    .LayoutMainWithLeftSidebar,
    .LayoutMainWithRightSidebar {
        grid-column: span 9;
    }

    .LayoutLeftSidebar {
        grid-column: span 3;
    }

    .LayoutRightSidebar {
        grid-column: span 3;
    }
}

@media screen and (min-width: 2600px) {
    .LayoutMainWithBothSidebars {
        grid-column: span 8;
    }

    .LayoutMainWithLeftSidebar,
    .LayoutMainWithRightSidebar {
        grid-column: span 10;
    }

    .LayoutLeftSidebar {
        grid-column: span 2;
    }

    .LayoutRightSidebar {
        grid-column: span 2;
    }
}
