.LayoutContent {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.LayoutHero {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: var(--space-4);
    padding: var(--space-4) 0;
}

.LayoutLeftSidebar,
.LayoutRightSidebar {
    display: none;
}

.LayoutMain {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    min-width: 0;
}

@media screen and (min-width: 1200px) {
    .Layout {
        display: block;
        flex: auto;
    }

    .LayoutHero {
        position: sticky;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: var(--space-4);
        padding: var(--space-8) var(--space-8) var(--space-4);
    }

    .LayoutContent {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: var(--space-4);
        padding: 0 var(--space-8) var(--space-8);
    }

    .LayoutLeftSidebar,
    .LayoutRightSidebar {
        position: sticky;
        top: var(--space-8);
        align-self: start;
        display: flex;
        flex-direction: column;
    }

    .LayoutLeftSidebar {
        grid-column: span 4;
    }

    .LayoutRightSidebar {
        grid-column: span 4;
    }

    .LayoutMainWithBothSidebars {
        grid-column: span 4;
    }

    .LayoutMainWithLeftSidebar,
    .LayoutMainWithRightSidebar {
        grid-column: span 8;
    }

    .LayoutMainFullWidth {
        grid-column: 1 / -1;
    }
}

@media screen and (min-width: 1600px) {
    .LayoutMainWithBothSidebars {
        grid-column: span 6;
    }

    .LayoutMainWithLeftSidebar,
    .LayoutMainWithRightSidebar {
        grid-column: span 9;
    }

    .LayoutLeftSidebar {
        grid-column: span 3;
    }

    .LayoutRightSidebar {
        grid-column: span 3;
    }
}

@media screen and (min-width: 2600px) {
    .LayoutMainWithBothSidebars {
        grid-column: span 8;
    }

    .LayoutMainWithLeftSidebar,
    .LayoutMainWithRightSidebar {
        grid-column: span 10;
    }

    .LayoutLeftSidebar {
        grid-column: span 2;
    }

    .LayoutRightSidebar {
        grid-column: span 2;
    }
}
