.Block {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.875rem;
    color: #ccc;
    transition: margin-top ease 400ms;
    height: 3rem;
}

.BlockLeftSide {
    display: flex;
    padding-left: 1.5rem;
}

.BlockRightSide {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-right: 1.5rem;
}

.Group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
}

.GroupItem {
}
