.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.AppHeader {
  display: flex;
  padding: 1rem 2rem;
  background-color: #1e2126;
  align-items: center;
}

.AppIconHolder {

}

.AppNameHolder {
  width: 100%;
}

.AppSettings {
}

.AppSettingsBtn {
  display: flex;
  border: 1px solid #39404d;
  padding: 0.5rem;
  border-radius: 0.5rem;
  max-width: 3rem;
  background-color: #303640;

}

.AppSettings svg {
  fill: #6F7D8C;
}

.AppIcon {
  max-width: 4rem;
  height: auto;
  float: left;
  margin-right: 1rem;
}

.AppName {
  font-size: 1.5rem;
}

.AppTagLine {
  font-size: 0.875rem;
}

.AppContent {
  display: flex;
  width: 100%;
}

.AppSideBar {
  width: 50rem;
  background-color: #252930;
  border-right: 1px solid #1d2026;
}

.AppSideBar div {
  position: sticky;
  top: 0;
}

.AppContentMain {
  width: 100%;
}

.AppFooter {
  padding: 1rem;
  background-color: #1e2126;
  margin-bottom: 2rem;
}
