.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.AppHeader {
  display: flex;
  padding: 1rem;
  background-color: #1e2126;
}

.AppIconHolder {

}

.AppIcon {
  max-width: 4rem;
  height: auto;
  float: left;
  margin-right: 1rem;
}

.AppName {
  font-size: 1.5rem;
  margin-top: 0.75rem;
}

.AppTagLine {
  font-weight: 300;
}

.AppContent {
  display: flex;
  width: 100%;
}

.AppSideBar {
  width: 50rem;
  background-color: #252930;
  border-left: 2px solid #1d2026;
}

.AppSideBar div {
  position: sticky;
  top: 0;
}

.AppContentMain {
  width: 100%;
}

.AppFooter {
  padding: 1rem;
  background-color: #1e2126;
  margin-bottom: 2rem;
}
