.Account {

}

.AccountText {
    color: #ccc;
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.AccountIcons > button:not(:last-child) {
    margin-right: 1rem;
}

.AccountRow {
    display: flex;
    align-items: center;
}

.AccountRow .AccountText {
    text-align: right;
    margin-right: 1rem;
    margin-bottom: 0;
}

@media screen and (min-width: 1200px) {

}
