.Block {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 2rem 1rem;
}

.Fieldset {
    margin: 0;
}

.CloseButton {
    display: block;
    margin: 1rem auto;
    color: orange;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.CloseButton:hover {
    color: #cc8500;
}

@media screen and (min-width: 1200px) {
    .Block {
        padding: 2rem;
    }

    .CloseButton {
        display: none;
    }
}
