.Block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.PanelHeading {
    display: flex;
    flex-direction: row;
}

.PanelHeadingDesc {
    width: 100%;
}

.PanelHeadingImg {
    padding-left: 1rem;
}

.ItemTitle {
    color: orange;
    font-size: 1.5rem;
    padding-top: 2rem;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
}

.ItemType {
    padding-left: 2rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-size: 0.875rem;
}


.ItemClasses {
    background-color: #1e2126;
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
}

.ItemClassIcon {
    max-width: 38px;
    max-height: 36px; /* workaround, fix sorc icon aspect */
    height: auto;
}

.ItemClass {
    position: relative;
}

.ItemClass:before {
    display: none;
    position: absolute;
    top: 19px;
    left: calc(18px - 0.25rem);
    width: 0.375rem;
    height: 0.375rem;
    background-color: #2d3239;
    border-radius: 0.5rem;
    content: '';
}

.ItemClassVariant {
    cursor: pointer;
}

.ItemClassVariant:before {
    display: block;
}

.ItemClassActive:before {
    background-color: #a7a7a7;
}

.ItemClass:hover:before {
    background-color: #3e885b;
}

.ItemClassIcon:not(:last-child) {
    padding-right: 0.25rem;
}

.ItemActions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
}

.ItemLocations {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.ItemLocation {
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #303640;
}

.ItemLocationIcon img {
    width: 3em;
    height: auto;
}

.ItemLocationInfo {
    width: 100%;
}

.ItemLocationDescription {
    margin-bottom: 0.5rem;
}

.ItemLocationCategory {
    text-transform: uppercase;
    font-size: 0.875rem;
    color: orange;
}

.ItemCollectedBtn {

}

.ItemDescription {
    font-style: italic;
    font-size: 0.8rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.ItemImage {
    position: relative;
    z-index: 1;
    float: right;
    max-width: 5rem;
    height: auto;
    top: 3rem;
    right: 2rem;
}



.ItemMeta {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.875rem;
    color: #ccc;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.ItemMeta > div {
    margin-bottom: 0.25rem;
}

.ItemTags {
    padding-left: 1rem;
    padding-right: 1rem;
}

.ItemTag {
    display: inline-flex;
    align-items: center;
    border-radius: 2rem;
    background-color: #2d3239;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
}

.ItemTag:last-child {
    margin-bottom: 1rem;
}


.ItemTag:not(:last-child) {
    margin-right: 0.5rem;
}

.ItemTagIcon {
    width: auto;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.ItemTag:not(:last-child) {
    margin-right: 0.5rem;
}

@media screen and (min-width: 480px) {
    .ItemImage {
        top: 1rem;
        max-width: 128px;
    }
}

@media screen and (min-width: 1200px) {
    /*.Panel {*/
    /*    display: block;*/
    /*}*/
}

/* Class Specific Modifiers */
.BarbarianClassIcon,
.DruidClassIcon,
.NecromancerClassIcon,
.RogueClassIcon,
.SorcererClassIcon {
    opacity: 0.15;
    transition: opacity 250ms;
}

.Barbarian .BarbarianClassIcon,
.Druid .DruidClassIcon,
.Necromancer .NecromancerClassIcon,
.Rogue .RogueClassIcon,
.Sorcerer .SorcererClassIcon {
    opacity: 1;
}

/* All skeleton loading states here */
.Skeleton { }

.Skeleton .ItemTitle span,
.Skeleton .ItemType span,
.Skeleton .ItemLocationDescription span,
.Skeleton .ItemLocationCategory span,
.Skeleton .ItemAction input,
.Skeleton .ItemAction label {
    visibility: hidden;
}

.Skeleton .ItemTitle,
.Skeleton .ItemType,
.Skeleton .ItemClassIcon,
.Skeleton .ItemLocationDescription,
.Skeleton .ItemLocationCategory {
    position: relative;
}

.Skeleton .ItemTitle:after,
.Skeleton .ItemType:after,
.Skeleton .ItemClassIcon:after,
.Skeleton .ItemLocationDescription:after,
.Skeleton .ItemLocationCategory:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    animation: skeleton-loading 0.75s linear infinite alternate;
}

.Skeleton .ItemTitle:after,
.Skeleton .ItemType:after,
.Skeleton .ItemLocationDescription:after,
.Skeleton .ItemLocationCategory:after,
.Skeleton .ItemClassIcon,
.Skeleton .ItemImage,
.Skeleton .ItemAction {
    animation: skeleton-loading 0.75s linear infinite alternate;
}

.Skeleton .ItemTitle:after {
    background-image: linear-gradient(#cccccc 2rem, transparent 0);
    background-size: 50% 2rem;
    background-position: 2rem 2rem;
}

.Skeleton .ItemType:after {
    background-image: linear-gradient(#cccccc 1rem, transparent 0);
    background-size: 25% 1rem;
    background-position: 2rem 0;
}

.Skeleton .ItemLocationDescription:after {
    background-image: linear-gradient(#cccccc 1rem, transparent 0);
    background-size: 50% 1rem;
    background-position: 0 0;
}

.Skeleton .ItemLocationCategory:after {
    background-image: linear-gradient(#cccccc 1rem, transparent 0);
    background-size: 25% 1rem;
    background-position: 0 0;
}

.Skeleton .ItemAction,
.Skeleton .ItemImage {
    background-color: #cccccc;
}

.Skeleton .ItemTags,
.Skeleton .ItemMeta {
    display: none;
}

@keyframes skeleton-loading {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
