.Artifact {
    position: relative;
    border-radius: 0.5rem;
    border: 1px solid #1d2026;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #252930;
}

.ArtifactContent {

}

.ArtifactCollected {
    border-color: #39404d;
    background-color: #303640;
    box-shadow: 1px 1px 1px rgba(17, 17, 17, 0.8);
}

.ArtifactImage {
    filter: brightness(25%);
    padding: 0.5rem 0.5rem 0;
}

.Artifact:hover .ArtifactImage {
    filter: brightness(125%);
}

.ArtifactCollected .ArtifactImage {
    filter: none;
}

.Artifact:hover .ArtifactName,
.ArtifactCollected .ArtifactName {
    color: #fff;
}

.ArtifactName {
    text-align: center;
    font-size: 0.75rem;
    padding: 0.5rem;
    color: #aaa;
}

.ArtifactTick {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 15%;
}

.ArtifactTick svg {
    fill: forestgreen;
}
