.Artifact {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    align-items: center;
    opacity: 0.5;
}

.Artifact:hover {
    opacity: 1;
}

.ArtifactImage {
    width: 4rem;
}

.ArtifactInfo {
    flex: 1;
    padding: 0 1rem;
}

.ArtifactName {
    color: orange;
    margin-bottom: 0.125rem;
    font-size: 1rem;
}

.ArtifactItemType {
    display: block;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
    color: #ccc;
}

.ArtifactClaim {
    text-transform: uppercase;
}

.ArtifactClaimDescription {
    margin-bottom: 0.25rem;
}

.ArtifactIcons {

}

.ArtifactIcon:not(:last-child) {
    margin-right: 0.5rem;
}

.ArtifactIcons svg {
    width: 2rem;
}

.ArtifactIcon svg {
    opacity: 0.05;
    fill: #ccc;
}

.ArtifactHidden .ArtifactName {
    text-decoration: line-through;
    color: #999 !important;
}

.Artifact:hover .ArtifactImage {
    filter: brightness(125%);
}


.ArtifactCollected {
    opacity: 1;
}

.ArtifactCollected .ArtifactImage {
    filter: none;
}

.ArtifactIconCollection svg {
    fill: #3E885B;
}

.ArtifactCollected .ArtifactIconCollection svg {
    opacity: 1;
}

.ArtifactIconPremium svg {
    display: none;
}

.ArtifactIconPremiumTitle svg {
    display: inline-block;
    width: 0.875rem;
    margin-left: 0.25rem;
}

.Artifact:nth-child(even) {
    background-color: #23272e;
}

.ArtifactCard {
    position: relative;
    border-radius: 0.5rem;
    flex-direction: column;
    flex: 1;
    align-items: inherit;
    background-color: #23272e;
    border: 1px solid #23272e;
    padding: 0;
    opacity: 1;
}

.ArtifactCard .ArtifactImage {
    width: auto;
    padding: 0.5rem 0.5rem 0;
    filter: brightness(25%);
}

.ArtifactCard .ArtifactInfo {
    text-align: center;
    padding: 0.5rem;
}

.ArtifactCard .ArtifactName {
    color: #aaa;
    font-size: 0.75rem;
}

.ArtifactCard .ArtifactItemType {
    display: none;
}

.ArtifactCard .ArtifactClaim {
    display: none;
}

.ArtifactCard .ArtifactClaimDescription {
    display: none;
}

.ArtifactCard .ArtifactIcons {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
}

.ArtifactCard .ArtifactIcons svg {
    width: 15%;
    margin-left: 0.125rem;
}

.ArtifactCard .ArtifactIcon:not(:last-child) {
    margin-right: 0;
}

.ArtifactCard .ArtifactIconCollection svg {
    position: absolute;
    right: 0;
}

.ArtifactCard .ArtifactIconPremium svg {
    display: block;
    opacity: 0;
    position: absolute;
    left: 0;
}

.ArtifactCard .ArtifactCollected {
    border: 1px solid #1d2026;
    background-color: #303640;
}

.ArtifactCard .ArtifactPremium .ArtifactIconPremium svg {
    opacity: 1;
}

.ArtifactCard:hover .ArtifactName,
.ArtifactCard .ArtifactCollected .ArtifactName {
    color: #fff;
}
