.LedgerGroup {
    width: 100%;
}

.LedgerGroupHeading {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;

    position: sticky;
    top: 6rem;

    z-index: 4;

    padding: 1rem;

    background-color: #303640;
    border-top: 1px solid #23272e;
    box-shadow: 0 3px 3px rgba(17, 17, 17, 0.25);

    cursor: pointer;
}

.LedgerHeading {
    display: inline-block;
    margin: 0 0.5rem 0.25rem 0;
    /*text-shadow: 3px 3px 3px #111;*/
    font-size: 1.5rem;
}

.LedgerHeadingPlaceholder {
    width: 15rem;
    background-color: #ccc;
    color: transparent;
}

.LedgerDescriptionPlaceholder {
    width: 25rem;
    background-color: #ccc;
    color: transparent;
}

.ArtifactImagePlaceholder {

}

.ArtifactNamePlaceholder {
    width: 4rem;
    background-color: #ccc;
    color: transparent !important;
    margin: 0 auto;
}

.LedgerDescription {
    font-size: 0.875rem;
    color: #ccc;
}

.LedgerCounter {
    display: inline-block;
    font-size: 1rem;
    color: orange;
    font-weight: 400;
    margin-left: 0.25rem;
}

.LedgerEdit {
    display: inline-block;
    font-size: 1rem;
    margin-left: 0.25rem;
    font-weight: 400;
    color: #ccc;
}

.LedgerSelectControls {
    float: right;
    font-size: 0.875rem;
    color: #ccc;
}

.LedgerSelectBtn {
    background: none;
    border: none;
    padding: 0;
    color: white;
    cursor: pointer;
}

.LedgerSelectBtn:hover {
    color: orange;
}


.LedgerRow {
    display: flex;
    flex-direction: column;
}

.LedgerNoMoreItems {
    padding: 1rem;
}

.LedgerCardView .LedgerRow {
    --grid-layout-gap: 10px;
    --grid-column-count: 16;
    --grid-item--min-width: 96px;

    --gap-count: calc(var(--grid-column-count) - 1);
    --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
    --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

    grid-template-rows: auto;
    gap: 1rem 1rem;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
    grid-gap: var(--grid-layout-gap);
    flex-direction: row;
}

.LedgerCardView .LedgerGroupHeading {
    position: inherit;
}

.LedgerHidden {
    display: none;
}

.LedgerSubCollection .LedgerGroupHeading {
    background-color: hsl(218 14% 20% / 1);
    /*height: 4rem;*/
    /*top: 11rem;*/
    /*z-index: 3;*/
}

.LedgerSubCollection .LedgerHeading {
    /*color: #ccc;*/
    font-size: 1.125rem;
}

@media screen and (min-width: 1200px) {
    .LedgerGroupHeading {
        top: 0;
        padding: 2rem 2rem;
        height: 6rem;
    }

    .LedgerRow {
        /*box-shadow: 3px 3px 7px rgba(17, 17, 17, 0.125) inset;*/
    }

    .LedgerCardView .LedgerRow {
        padding: 2rem;
    }

    .LedgerNoMoreItems {
        padding: 1rem 2rem;
    }

    .LedgerCardView .LedgerRow {
        --grid-item--min-width: 120px;
    }
}

.Artifact {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 0.5rem 1rem;
    align-items: center;
}

.Artifact:hover {
    opacity: 1;
}

.ArtifactImage {
    width: 4rem;
    filter: brightness(50%);
    z-index: 1;
}

.ArtifactInfo {
    flex: 1;
    padding: 0 1rem;
    opacity: 0.5;
}

.ArtifactName {
    color: orange;
    margin-bottom: 0.125rem;
    font-size: 1rem;
}

.ArtifactItemType {
    display: block;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
    font-size: 0.75rem;
    color: #ccc;
}

.ArtifactClaim {
    text-transform: uppercase;
}

.ArtifactClaimDescription {
    margin-bottom: 0.25rem;
}

.ArtifactIcons {

}

.ArtifactIcon:not(:last-child) {
    margin-right: 0.5rem;
}

.ArtifactIcons svg {
    width: 2rem;
}

.ArtifactIcon svg {
    opacity: 0;
    fill: #303640;
}

.ArtifactHidden .ArtifactName {
    text-decoration: line-through;
    color: #999 !important;
}

.Artifact:hover .ArtifactImage {
    filter: brightness(125%) !important;
}

.Artifact:hover .ArtifactInfo {
    opacity: 1;
}

.ArtifactCollected .ArtifactInfo {
    opacity: 1;
}

.ArtifactIconCollection svg {
    fill: #3E885B;
}

.ArtifactCollected .ArtifactIconCollection svg {
    opacity: 1;
}

.ArtifactIconPremium svg {
    display: none;
}

.ArtifactIconPremiumTitle svg {
    display: inline-block;
    width: 0.875rem;
    margin-left: 0.25rem;
}

.Artifact:nth-child(even) {
    background-color: #23272e;
}

.LedgerCardView .Artifact {
    position: relative;
    border-radius: 0.5rem;
    flex-direction: column;
    flex: 1;
    align-items: inherit;
    background-color: #23272e;
    border: 1px solid #23272e;
    padding: 0;
    opacity: 1;
}

.LedgerCardView .ArtifactImage {
    width: auto;
    padding: 0.5rem 0.5rem 0;
}

.LedgerCardView .ArtifactInfo {
    text-align: center;
    padding: 0.5rem;
}

.LedgerCardView .ArtifactName {
    color: #aaa;
    font-size: 0.875rem;
}

.LedgerCardView .ArtifactItemType {
    display: none;
}

.LedgerCardView .ArtifactClaim {
    display: none;
}

.LedgerCardView .ArtifactClaimDescription {
    display: none;
}

.LedgerCardView .ArtifactIcons {
    position: absolute;
    top: 0.425rem;
    left: 0.425rem;
    right: 0.425rem;
}

.LedgerCardView .ArtifactIcons svg {
    width: 1rem;
    margin-left: 0.125rem;
}

.LedgerCardView .ArtifactIcon:not(:last-child) {
    margin-right: 0;
}

.LedgerCardView .ArtifactIconCollection svg {
    position: absolute;
    right: 0;
}

.LedgerCardView .ArtifactIconPremium svg {
    display: none;
    opacity: 0;
    position: absolute;
    left: 0;
}

.LedgerCardView .ArtifactCollected {
    border: 1px solid #1d2026;
    background-color: #303640;
    box-shadow: 3px 3px 3px rgba(17, 17, 17, 0.25);
}

.LedgerCardView .ArtifactIconCollection svg {
    fill: #20472f;
}

.LedgerCardView .ArtifactCollected:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 3rem solid #3e885b;
    border-left: 3rem solid transparent;
    border-top-right-radius: 0.5rem;
    width: 0;
}

.LedgerCardView .ArtifactPremium .ArtifactIconPremium svg {
    opacity: 1;
}

.ArtifactCard:hover .ArtifactName,
.LedgerCardView .ArtifactCollected .ArtifactName {
    color: #fff;
}

@media screen and (min-width: 1200px) {
    .Artifact {
        padding: 0.5rem 2rem;
    }

    .ArtifactIcons svg {
        width: 3rem;
    }
}

.ArtifactCollected .ArtifactImage {
    filter: none;
}

/* modifiers */

.LedgerCardView.LedgerInverse .Artifact {
    border: 1px solid #1d2026;
    background-color: #303640;
    box-shadow: 3px 3px 3px rgba(17, 17, 17, 0.25);

}

.LedgerCardView.LedgerInverse .ArtifactImage {
    filter: none;
}

.LedgerCardView.LedgerInverse .ArtifactName {
    color: #fff;
}

.LedgerCardView.LedgerInverse .ArtifactInfo {
    opacity: 1;
}

.LedgerCardView.LedgerInverse .ArtifactCollected {
    background-color: #23272e;
    border: 1px solid transparent;
    box-shadow: none;
    color: #ccc;
}

.LedgerCardView.LedgerInverse .ArtifactCollected .ArtifactInfo {
    opacity: 0.5;
}

.LedgerCardView.LedgerInverse .ArtifactCollected .ArtifactImage {
    filter: brightness(50%);
}
