.Button {
    position: absolute;
    display: block;
    top: 1rem;
    right: 1rem;

    font-size: 1rem;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0;

    cursor: pointer;
}

.Button:active svg {
    position: relative;
    top: 1px;
}

.Button svg {
    width: 3rem;
    height: 3rem;
    fill: #bf3950;
}

.Button:hover svg {
    fill: #d9415a;
}
