.Block {
    min-height: 100vh;
    background-color: #282c34;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Header {
    position: sticky;
    top: 0;
    z-index: 5000;
}

.StickyTop {
    position: sticky;
    top: 0;
    z-index: 5000;
    background-color: #1e2126;
}

.Content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.Sidebar {
    display: none;
    background-color: #252930;
}

.Main {
    position: relative;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.StickyBottom {
    padding: 1rem;
    position: sticky;
    bottom: 0;
    z-index: 5000;
    background-color: #1e2126;
}

.Footer {
    display: block;
    background-color: #1e2126;
    border-top: 1px solid #282c34;
}

@media screen and (min-width: 1200px) {
    .Block {
        height: 100vh;
        justify-content: flex-start;
    }

    .StickyTop {
        display: none;
    }

    .Content {
        overflow: auto;
        flex-direction: row;
    }

    .Sidebar {
        display: block;
        position: sticky;
        top: 0;
        width: 50rem;
        border-right: 1px solid #1d2026;
        border-bottom: none;
        z-index: 10;
    }

    .Main {
        display: block;
        flex: auto;
    }

    .StickyBottom {
        display: none;
    }

    .Footer {
        display: none;
        align-items: center;
        justify-content: space-between;
    }
}
