.Block {
    --layout-padding: 2rem;
    --layout-gap: 1rem;
}

.Content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.LeftSidebar,
.RightSidebar {
    display: none;
}

.Main {
    position: relative;
    display: flex;
    width: 100%;
    flex: 1;
    flex-direction: column;
}

@media screen and (min-width: 1200px) {
    .Block {
        display: block;
        flex: auto;
        flex-direction: column;
    }

    .Hero {
        position: sticky;
    }

    .Content {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: var(--layout-gap);
        padding: 0 var(--layout-padding) var(--layout-padding);
    }

    .LeftSidebar,
    .RightSidebar {
        position: sticky;
        top: 2rem;
        align-self: start;

        display: flex;
        flex-direction: column;
        overflow-y: auto;
        z-index: 10;
    }

    .LeftSidebar {
        grid-column: span 4;
    }

    .RightSidebar {
        grid-column: span 4;
    }

    .Main {
        min-width: 0;
    }

    .MainWithBothSidebars {
        grid-column: span 4;
    }

    .MainWithLeftSidebar,
    .MainWithRightSidebar {
        grid-column: span 8;
    }

    .MainFullWidth {
        grid-column: 1 / -1;
    }
}



@media screen and (min-width: 1600px) {
    .Content {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    .MainWithBothSidebars {
        grid-column: span 6;
    }

    .MainWithLeftSidebar,
    .MainWithRightSidebar {
        grid-column: span 9;
    }

    .LeftSidebar {
        grid-column: span 3;
    }

    .RightSidebar {
        grid-column: span 3;
    }
}


@media screen and (min-width: 2600px) {
    .Content {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    .MainWithBothSidebars {
        grid-column: span 8;
    }

    .MainWithLeftSidebar,
    .MainWithRightSidebar {
        grid-column: span 10;
    }

    .LeftSidebar {
        grid-column: span 2;
    }

    .RightSidebar {
        grid-column: span 2;
    }
}